{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  {% if request.user.is_authenticated %}
      {% include "user_input_form.html" %}
  {% endif %}
<div class="container py-3 text-white">
  {% if  comments%}
  <h4 class="text-center py-5">Total reviews: {{comments|length}}</h4>
  {% else %}
  <h4 class="text-center py-5">There are no reviews!</h4>
  {% endif %}

  {% for comment in comments%}
  <div class="card-body border m-3">
    <h4 class="text-white">{{comment.user.first_name}} {{comment.user.last_name}} 
     {% for _ in "x"|rjust:comment.ratings %}
      <sup><i class="fa-solid fa-star text-info"></i></sup>
      {% endfor %}
      </h4>
      <small
        class="text-body-secondary text-secondary fs-6">{{comment.created_on}}</small>
    <p class="text-white">{{comment.text}}</p>
  </div>
  {% endfor %}
</div>
{% endblock content %}