{% extends "base.html" %}
{% block content %}
{% comment %} <div class="container py-3">
    <h4 class="py-3">Total book found: {{books|length}}</h4>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for book in books%}
        <div class="col">
            <div class="card h-100">
                <img src="{{book.image.url}}" class="card-img-top" alt="{{book.title}}">
                <div class="card-body">
                    <h2 class="card-title">{{book.title}} <sub class="text-primary fs-6">By {{book.author}}</sub></h2>
                    <p class="card-text">{{book.description|truncatewords:10}}</p>
                    <p class="card-text"><small class="text-body-secondary text-secondary">Donated on
                            {{book.donated_on}}</small>
                    </p>
                    <p class="text-center"><a href="{% url 'book_details' book.id%}" class="btn btn-primary">Details</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> {% endcomment %}

<body>
    <div class="container">
        <h4 class="py-5 text-center text-white">Total book found: {{books|length}}</h4>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for book in books%}
            <div class="col card-container">
                <a href="{% url 'book_details' book.id%}" class="hero-image-container">
                    <img class="hero-image" src="{{book.image.url}}" alt="Image" />
                </a>
                <main class="main-content">
                    <h1><a class="text-decoration-none" href="{% url 'book_details' book.id%}">{{book.title}}</a></h1>
                    <p>{{book.description|truncatewords:10}}</p>
                    <div class="flex-row">
                        <div class="coin-base">
                            <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image" />
                            <h2></h2>
                        </div>
                        <div class="time-left">
                            <img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock"
                                class="small-image" />
                            <p>{{book.donated_on}}</p>
                        </div>
                    </div>
                </main>
                <div class="card-attribute">
                    <img src="https://i.postimg.cc/SQBzNQf1/image-avatar.png" alt="avatar" class="small-avatar" />
                    <p>Author of the book <span><a href="#">{{book.author}}</a></span></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock content %}