{% extends "base.html" %}
{% load static %}
{% block content %}



{% comment %} <div class="" style="background-image: url('{% static " images/herobanner.jpg" %}'); height: 100vh; width: 100%;
  background-size: cover; background-position: center; display: flex; align-items: center; justify-content: center;
  position: relative">

  <div
    style="position: absolute;top: 30%;left: 10%;width: 40%; background-color:#db4e68;border-radius: 2em 1em 4em / 0.5em 3em"
    class="p-5">
    <h5 class="py-3 text-light">BOOKS BRING HOPE: BE A BOOK HERO TODAY!</h5>
    <h2 class="text-white">Share the Gift of Learning: Donate Books, Enrich Lives.</h2>
    <p class="text-center"><a class="btn btn-warning" href="{% url 'donate_book'%}" role="button">Donate</a></p>
  </div>
</div> {% endcomment %}





<div class="swiffy-slider slider-nav-round slider-nav-animation slider-nav-animation-fadein">
  <ul class="slider-container">
      <li class="">
          <div class="card rounded-0 h-100">
              <div class="row g-0 h-100">
                  <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                      <div class="card-body p-1 p-md-3 p-xl-5">
                          <p class="lead">BOOKS BRING HOPE: BE A BOOK HERO TODAY!</p>
                          <h2 class="card-title" style="color:#DF1E1E;">Share the Gift of Learning: Donate Books, Enrich Lives.</h2>
                          <p class="card-text mt-3">The more you read, the more things you know</p>
                          <p class="card-text"><small class="text-muted">- Dr Suess</small></p>
                      </div>
                  </div>
                  <div class="col-md-6 col-xl-7">
                      <img src="{% static "images/donationcarosel1.jpg" %}" class="card-img d-none d-md-block" loading="lazy" style="height: 100%; object-fit: cover;" alt="...">

                      <img src="{% static "images/donationcarosel1.jpg" %}" class="card-img d-block d-md-none" loading="lazy" style="width: 100%; object-fit: cover;" alt="...">
                  </div>
              </div>
          </div>
      </li>
      <li class="slide-visible">
          <div class="card rounded-0 h-100">
              <div class="row g-0 h-100">
                  <div class="col-md-6 col-xl-7">
                      <img src="{% static "images/donationcarosel2.jpg" %}" class="card-img d-none d-md-block" loading="lazy" style="height: 100%; object-fit: cover" alt="...">
                      <img src="{% static "images/donationcarosel2.jpg" %}" class="card-img d-block d-md-none" loading="lazy" style="width: 100%; object-fit: cover" alt="...">
                  </div>
                  <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                      <div class="card-body p-1 p-md-3 p-xl-5">
                          <p class="lead">Your books can help someone in the same way they did for you</p>
                          <h2 class="card-title" style="color:#DF1E1E;">Knowledge increases by sharing, but not saving</h2>
                          <p class="card-text mt-3">Books are uniquely portable magic that carries your attached feelings forward. We are committed to carrying your emotions with your books and making them grow older!</p>
                          <p class="card-text"><small class="text-muted">Let's become a cause for change &amp; make a difference</small></p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li class="">
          <div class="card rounded-0 h-100 text-white">
              <img src=".{% static "images/the_girl.jpg" %}" class="card-img h-100" style="max-height: 100%; max-width: 100%; object-fit: cover" alt="...">
              <div class="card-img-overlay d-flex align-items-start align-items-md-center justify-content-center flex-column">
                  <h2 class="card-title h1 d-block d-md-inline-block">We are passionate about building a more
                    inclusive and joyful  reading culture</h2>
                  <p class="card-text lead col-md-8 col-lg-6">Our innovative solutions are designed to help children in underserved communities get increased access to reading resources. Learn more about our approach.</p>
              </div>
          </div>
      </li>
  </ul>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

  <div class="slider-indicators">
      <button class="" aria-label="Go to slide"></button>
      <button aria-label="Go to slide" class="active"></button>
      <button aria-label="Go to slide" class=""></button>
  </div>
</div>


{% comment %} <div class="container py-3">
  <h4 class="py-3">Total book found: {{books|length}}</h4>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for book in books%}
    <div class="col">
      <div class="card">
        <img src="{{book.image.url}}" class="card-img-top" alt="{{book.title}}">
        <div class="card-body">
          <h2 class="card-title">{{book.title}} <sub class="text-primary fs-6">By {{book.author}}</sub></h2>
          <p class="card-text">{{book.description|truncatewords:10}}</p>
          <p class="card-text"><small class="text-body-secondary text-secondary">Donated on {{book.donated_on}}</small>
          </p>
          <p class="text-center"><a href="{% url 'book_details' book.id%}" class="btn btn-primary">Details</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div> {% endcomment %}



<div class="container text-center text-white py-5">
  <h3>Together, we can share the power of books</h3>
  <p>Our work is only possible because of the generosity of publishers and the book trade. Every year publishers donate all kinds of books to us - and those books help people worldwide see their future in a whole new light. Here's how the process works:</p>
  <br><br>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card border-0">
        <div class="card-body">
          <i class="fa-solid fa-book text-info fa-8x"></i> <br><br>
          <h5 class="card-title">We find out what books are needed</h5>
          <p class="card-text">We have 10 partners, and each tells us exactly which books their communities need.</p>
          {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card border-0">
        <div class="card-body">
          <i class="fa-solid fa-truck text-info fa-8x"></i> <br><br>
          <h5 class="card-title">You donate brand new books to our Dhaka warehouse</h5>
          <p class="card-text">Contact us to talk about what books you have and set a time for your donation.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card border-0">
        <div class="card-body">
          <i class="fa-solid fa-book-open-reader text-info fa-8x"></i> <br><br>
          <h5 class="card-title">We send books to communities around the world</h5>
          <p class="card-text">After you donate the books, we'll provide them to communities around the world.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-white py-5">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-12 col-md-6">
        <img src="{% static "images/book_donate_about_us.jpg" %}" class="img-fluid rounded-start" alt="book donate about us">
      </div>
      <div class="col-12 col-md-6">
        <div class="card-body">
          <span class="text-uppercase fw-bold text-info">About us</span>
          <h5 class="card-title">Providentia Books</h5>
          <p class="card-text">An online platform to donate &amr; receive books, is designed to disseminate books expected to be donated by book donors and could be used by the book requestors who need them. This online platform includes textbooks, reference books, recreational books, books on career guidance, competitive exam-related books, and the like. This online platform can benefit many people, including impoverished students, teachers, and institutions. This effort by Abdul Khaleq will make the best use of donated books and will help those in need get their books for free if any donated books meet their needs</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-white py-5">
  <h3 class="text-center">Books give people power</h3>
  <p class="text-center">They provide the information and the inspiration that people need to build a more equal future.</p>
  <h6 class="text-center">So we work for a world where everyone has access to books.</h6>
  <div class="swiffy-slider slider-item-show3 slider-item-reveal slider-nav-dark slider-nav-outside-expand container">
    <ul class="slider-container py-4" id="slider2">
      {% for book in  books%}
      <li>
        <div class="card shadow h-100">
          <div class="ratio ratio-1x1">
            <img src="{{book.image.url}}" class="card-img-top" loading="lazy" alt="{{book.title}}">
          </div>
          <div class="card-body">
          <small class="text-body-secondary text-secondary">Donated on {{book.donated_on}}</small>
            <div class="flex-grow-1">
              <strong>{{book.title}}</strong> <sub class="text-primary fs-6">By {{book.author}}</sub>
              <p class="card-text">{{book.description|truncatewords:10}}
  
            </div>
            <div>
              <a href="{% url 'book_details' book.id%}" class="hover:text-decoration-none">Read more...</a>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
  
    </ul>
    <button type="button" class="slider-nav" aria-label="Go to previous"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
  </div>
</div>


<div class="px-2 px-lg-5 text-white">
  <h3 class="text-center">Review</h3>
  <div class="swiffy-slider slider-item-show3 slider-nav-dark slider-nav-visible slider-nav-outside slider-item-snapstart my-3 slider-nav-sm my-xl-5 slider-indicators-square slider-indicators-outside slider-indicators-dark slider-nav-animation-slideup slider-nav-animation">
    <div class="slider-container">
      {% for comment in  comments%}
        <div class="">
            <div>
                <h3 class="mb-0 h6" style="color:#DF1E1E;">{{comment.user.first_name}} {{comment.user.last_name}}
                  {% for _ in "x"|rjust:comment.ratings %}
                  <sup><i class="fa-solid fa-star text-info"></i></sup>
                  {% endfor %}
                </h3>
                <small class="text-body-secondary text-secondary">{{comment.created_on}}</small>
                <p>{{comment.text}}</p>
            </div>
        </div>
        {% endfor %}
  
    </div>
  
    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
  
    <div class="slider-indicators" style="justify-content:right;margin-left: 3rem;">
        <button class="" aria-label="Go to slide"></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class="active"></button>
        <button aria-label="Go to slide" class=""></button>
    </div>
  </div>
</div>










{% endblock content %}