{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="" style="background-image: url('{% static "images/herobanner.jpg" %}'); height: 100vh; width: 100%;
  background-size: cover; background-position: center; display: flex; align-items: center; justify-content: center;
  position: relative">

  <div style="position: absolute;top: 30%;left: 10%;width: 40%; background-color:#db4e68;border-radius: 2em 1em 4em / 0.5em 3em" class="p-5">
      <h5 class="py-3 text-light">BOOKS BRING HOPE: BE A BOOK HERO TODAY!</h5>
    <h2 class="text-white">Share the Gift of Learning: Donate Books, Enrich Lives.</h2>
    <p class="text-center"><a class="btn btn-warning" href="{% url 'donate_book'%}" role="button">Donate</a></p>
  </div>
</div>

<div class="container py-3">
  <h4 class="py-3">Total book found: {{books|length}}</h4>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for book in books%}
    <div class="col">
      <div class="card">
        <img src="{{book.image.url}}" class="card-img-top" alt="{{book.title}}">
        <div class="card-body">
          <h2 class="card-title">{{book.title}} <sub class="text-primary fs-6">By {{book.author}}</sub></h2>
          <p class="card-text fs-4">{{book.description|truncatewords:10}}</p>
          <p class="card-text"><small class="text-body-secondary text-secondary">Donated on {{book.donated_on}}</small>
          </p>
          <p class="text-center"><a href="{% url 'book_details' book.id%}" class="btn btn-primary">Details</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container py-3">
  <h1>Total comments: {{comments|length}}</h1>
  {% for comment in comments%}
  <div class="card-body border m-3">
    <h4>{{comment.user.first_name}} {{comment.user.last_name}} <small class="text-body-secondary text-secondary fs-6">{{comment.created_on}}</small></h4>
    <p>{{comment.text}}</p>
  </div>
  {% endfor %}

  {% if request.user.username%}
  {% load crispy_forms_tags %}
  <form class="w-50 m-auto py-5" method="post" enctype="multipart/form-data">
    <h1>Comment Book</h1>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary">Submit</button>
  </form>
  {% else %}
  <h4>You can comment after login</h4>
  {% endif %}

  {% endblock content %}

</div>